<footer id='wax-footer' class='page-footer container-fluid'>
  <div class='wax-inline-container'>
    <div class='row'>
      <div class='col'>
        <p class='footer-title'><span class="color1">FUENTE OVEJUNA</span> <span class="color2">SOCIAL</span></p>
        <!--en origen: {{ site.title }}-->
        <p class='footer-description'>{{ site.description }}</p>
        <br><p class="footer-contact">
          <span id="footer-contact-title">CONTACTO</span><br>
          David Merino Recalde <br>
          <a href="mailto:david.merino@uab.cat" target="_blank">david.merino@uab.cat</a>
        </p>
        <p class="colaboradores">
          Con la colaboración de <br>
          <a href="https://dfe.uab.cat/" target="_blank">
            <img src="img\logo\logodeptnegro.png" alt="Logo Departamento Filologia Espanyola UAB">
          </a>
          <a href="https://www.bne.es/es" target="_blank">
            <img src="img/logo/logoBNE.jpg" alt="Logo Biblioteca Nacional de España">
          </a>
          <a href="https://comunidad.bne.es/" target="_blank">
            <img src="img\logo\bne-comunidad-logo.png" alt="Logo Comunidad BNE">
          </a>
        </p>

      </div>
      <div class="col">
        <p class='footer-logos'>
          {% for item in site.footer.logos %}
          <a href="{{ item.link | absolute_url }}" target="_blank" rel="noopener noreferrer"
            aria-label="Logo link to resource">
            <img src='{{ item.img | absolute_url }}' alt="logo" />
          </a>
          {% endfor %}
        </p>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class='footer-copyright'>
          <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
            <img src="img\logo\cc-by-nc-sa.png" alt="Licencia CC BY NC SA">
          </a>
          <a href="https://github.com/dxvidmr/pruebas-fo" target="_blank">
            <img src="img\logo\GitHubLogo.svg" alt="GitHub">
          </a>
          // Built with <a href='https://github.com/minicomp/wax/' target="_blank"
            rel="noopener noreferrer">Minicomp/Wax</a> &
            <a href="https://github.com/TEIC/CETEIcean" target="_blank">CETEIcean</a>
        </p>
      </div>
    </div>
  </div>
</footer>