body {
  font-family: 'Open Sans', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 100%;
}
sup {
  font-size: 70%;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
tei-div {
  display: block;
  margin-top: .5em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
tei-p {
  display: block;
  margin-top: .5em;
  text-align: justify;
  line-height: 1.5em;
}
tei-hi[rend="italic"] {
  font-style: italic;
}

tei-standoff {
  display: none;
}
.notes {
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
tei-head {
  font-size: 200%;
}

tei-list {
  display: block;
}
tei-item {
  display: block;
  margin-left: 1em;
}

tei-item::before {
  content: "→";
  margin-right: 5px; /* Ajusta el espacio entre el guion y el texto */
}


tei-text[type="literary-text"] {
  text-align: center;
}

tei-castItem {
  display: list-item;
}
tei-castList {
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}

tei-lg,
tei-l {
  display: block;
  
}

tei-l[part="Y"][corresp="2-2"][facs="t-1"] {
  text-indent: 200px;
}

tei-sp {
  display: block;
  margin-bottom: 1em;
  text-align: left;
}

tei-speaker {
  font-weight: bold;
  float: left; 
  width: 150px; 
  margin-right: 20px; 
}

tei-l {
  position: relative;
  padding-left: 200px; 
}

tei-stage {
  display: block;
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 1em;
}



tei-div[type="editor"] {
  background-color: #f2f2f2; 
  border-radius: 10px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  padding: 20px; 
  margin: 20px; 
}

tei-div[type="colophon"] {
  background-color: #f2f2f2; 
  border-radius: 10px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  padding: 20px; 
  margin: 20px; 
}

tei-quote {
  font-style: italic;
  text-align: center;
}

tei-milestone[unit="stanza"]::after {
  content: "";
  display: block;
  border-bottom: 1px dotted #999;
  width: 75%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.hide-lines .tei-milestone[unit="stanza"]::after {
  display: none;
}

.container {
  position: relative;
}

.fixed-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999; /* Asegura que el botón esté sobre otras capas */
}


